<div class="card m-2" id="comments-new">
    <div class="card-body">
        <form>
            <!-- Nickname Input -->
            <div class="mb-3">
                <label class="form-label">닉네임</label>
                <input type="text" class="form-control" id="new-comment-nickname">
            </div>
            <!-- Comment Body Input -->
            <div class="mb-3">
                <label class="form-label">댓글 내용</label>
                <textarea type="text" class="form-control" rows="3" id="new-comment-body"></textarea>
            </div>
            <!-- Hidden Input -->
            {{#article}}
            <input type="hidden" id="new-comment-article-id" value="{{id}}">
            {{/article}}
            <!-- Submit Button -->
            <button type="button" class="btn btn-primary" id="comment-create-btn">댓글 작성</button>
        </form>
    </div>
</div>